<div *ngIf="competition" class="compet-stats">
  <div class="container">
    <p class="lead">Participants: {{ participantVisitor.getNumberOfParticipants(competition) }}</p>
    <p class="lead">Teams: {{ participantVisitor.getNumberOfTeams(competition) }}</p>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngFor="let team of participantVisitor.getTeams(competition)"
                 title="{{ team + ' (' + participantVisitor.getTeamMembers(competition, team).length + ' players)'}}">
        <ng-template ngbPanelContent>
        <ul>
          <li *ngFor="let teamMember of participantVisitor.getTeamMembers(competition, team)" [ngClass]="{'team-manager': teamMember.role === 'Team Manager', 'player': teamMember.role !== 'Team Manager'}">
            {{teamMember.lastname + ', ' + teamMember.firstname + ' (' + teamMember.email + ')'}}
          </li>
        </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
