<div *ngIf="competition" class="compet-stats">
  <div class="container">
    <p class="lead">Participants: {{ participantVisitor.getNumberOfParticipants(competition) }}</p>
    <p class="lead">Teams: {{ participantVisitor.getNumberOfTeams(competition) }}</p>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngFor="let team of participantVisitor.getTeams(competition)"
                 title="{{ team + ' (' + participantVisitor.getTeamMembers(competition, team).length + ' players)'}}">
        <ng-template ngbPanelContent>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Role</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teamMember of participantVisitor.getTeamMembers(competition, team)">
                  <th scope="row">{{ teamMember.account }}</th>
                  <td>{{ teamMember.firstname }}</td>
                  <td>{{ teamMember.lastname }}</td>
                  <td>{{ teamMember.role }}</td>
                  <td>{{ teamMember.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
